@tailwind base;
@tailwind components;
@tailwind utilities;

/* Float animation */
@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .float-img {
    animation: float 4s ease-in-out infinite;
  }
}
