@tailwind base;
@tailwind components;
@tailwind utilities;

/* Float animation */
@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .float-img {
    animation: float 4s ease-in-out infinite;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

